<div class="form-group">
  <label for="input-accountCountry">
    <span class="form-label">Country</span>
  </label>
  <input class="form-control typeahead" type="text" id="input-accountCountry">
</div>

<div class="form-group" id="countryFields">
  <bank-account-uk/>
  <bank-account-six/>
</div>

