$path: "/node_modules/govuk_frontend_toolkit/images/";
@function image-url() {}

@import 'govuk-elements';

// Search results
.search-results {
  margin: 0 0 2em;
}
.result {
  border-bottom: 1px solid #BFC1C3;
  padding: 1em 0;
  margin: 0;
}
.result-meta, .result-link {
  display: block;
}
.result-link {
  font-size: 1.3em;
  font-weight: 700;
}
.result-meta {
  font-size: 0.842105263157895em;
}
.result:first-child {
  padding-top: 0;
}
.result:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

// Payment schedule
.schedule-heading {
  margin-bottom: 0.5em;
}
.schedule-log {
  margin-bottom: 1.578947368421053em;

  .text {
  	margin: 0;
  }
}
.schedule {
	border-top: 1px solid #bfc1c3;
  margin-bottom: 0;
}
.payment {
	padding: 0.6315789474em 1.0526315789em 0.4736842105em 0;
	border-bottom: 1px solid #bfc1c3;
	position: relative;
}
.amount {
	font-weight: 700;
  display: block;
}
.type {
	color: #999;
	position: absolute;
	right: 0;
	top: 50%;
  text-align: right;
  height: 50px;
  margin-top:-25px;

  @media(max-width: 400px) {
    text-align: left;
    position: static;
    display: block;
    margin-top: 5px;
    height: auto;
  }
}
.schedule-label {
	margin: 0.5em 0;
}
.schedule-controls {
  margin: 1.5em 0;

  li {
    display: inline-block;
    margin-right: 5px;
  }
}
.button-red {
  background-color: #B10E1E;
  box-shadow: 0 2px 0 #790000;
  &:hover {
    background-color: #B41020;
  }
  &:visited {
    background-color: #B10E1E;
  }
  &:active {
    background-color: #B10E1E;
  }
}
.button-grey {
  background-color: #666;
  box-shadow: 0 2px 0 #333;
  &:hover {
    background-color: #666;
  }
  &:visited {
    background-color: #666;
  }
  &:active {
    background-color: #666;
  }
}

.visually-hidden + .schedule {
  border-top: 0;
}

.notification {
  padding: 0.526315789473684em;
  max-width: 30em;

  h2 {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.warning {
  border-left: 0.526315789473684em solid $red;
  padding-left: 0.526315789473684em;
  background-color: mix(white, $mellow-red, 90%);
}

// Big links on start page
.big-links {
  margin-top: 1.2em;
}

.big-link {
	display: block;
	background: $govuk-blue;
  text-decoration: none;
  font-size: 1.895em;
  font-weight: 700;
  padding: 0.694em 0.556em;
  margin: 0.75em 0;

  &:link,
  &:visited {
    color: $white;
  }
  &:active,
  &:focus {
    color: $black;
  }
  &:hover {
    text-decoration: underline;
  }
}

// nav-bar
#global-header-bar {
  display: none;
}

.nav-bar {
  background: $panel-colour;

  ul {
    @extend %contain-floats;

    margin: 0 auto;
    max-width: 960px;
  }

  li {
    float: left;
    list-style-type: none;

    @include media(mobile) {
      width: 100%;
    }
  }

  a {
    display: block;
    padding: 15px;
    text-decoration: none;

    &:link,
    &:visited {
      color: $black;
    }

    &:active,
    &:focus {
      background: $focus-colour;
      color: $black;
    }

    &:hover {
      background: $highlight-colour;
      text-decoration: underline;
    }
  }

  .active {
    background: $govuk-blue;
    font-weight: 700;

    &:link,
    &:visited,
    &:active {
      color: $white;
    }

    &:focus {
      color: $black;
    }

    &:hover {
      background: $govuk-blue;
      text-decoration: underline;
    }
  }
}
