$path: '/node_modules/govuk_frontend_toolkit/images/';
@function image-url() {}

@import 'govuk-elements';

$button-red-border: #790000;
$grey333: #333;
$grey666: #666;
$grey999: #999;

// Search results
.search-results {
  margin: 0 0 2em;
}

.result {
  border-bottom: 1px solid $grey-2;
  margin: 0;
  padding: 1em 0;
}

.result-meta,
.result-link {
  display: block;
}

.result-link {
  font-size: 1.3em;
  font-weight: 700;
}

.result-meta {
  font-size: .842105263157895em;
}

.result:first-child {
  padding-top: 0;
}

.result:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

// Payment schedule
.schedule-heading {
  margin-bottom: .5em;
}

.schedule-log {
  margin-bottom: 1.578947368421053em;

  .text {
    margin: 0;
  }
}

.schedule {
  border-top: 1px solid $grey-2;
  margin-bottom: 0;
}

.payment {
  border-bottom: 1px solid $grey-2;
  padding: .6315789474em 1.0526315789em .4736842105em 0;
  position: relative;
}

.amount {
  display: block;
  font-weight: 700;
}

.type {
  color: $grey999;
  height: 50px;
  margin-top: -25px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 50%;

  @media(max-width: 400px) {
    display: block;
    height: auto;
    margin-top: 5px;
    position: static;
    text-align: left;
  }
}

.schedule-label {
  margin: .5em 0;
}

.schedule-controls {
  margin: 1.5em 0;

  li {
    display: inline-block;
    margin-right: 5px;
  }
}

.button-red {
  background-color: $error-colour;
  box-shadow: 0 2px 0 $button-red-border;

  &:hover {
    background-color: $button-red-border;
  }

  &:visited {
    background-color: $error-colour;
  }

  &:active {
    background-color: $error-colour;
  }
}

.button-grey {
  background-color: $grey666;
  box-shadow: 0 2px 0 $grey333;

  &:hover {
    background-color: $grey666;
  }

  &:visited {
    background-color: $grey666;
  }

  &:active {
    background-color: $grey666;
  }
}

.visually-hidden + .schedule {
  border-top: 0;
}

.notification {
  max-width: 30em;
  padding: .526315789473684em;

  h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.warning {
  background-color: mix($page-colour, $mellow-red, 90%);
  border-left: .526315789473684em solid $red;
  padding-left: .526315789473684em;
}

// Big links on start page
.big-links {
  margin-top: 1.2em;
}

.big-link {
  background: $govuk-blue;
  display: block;
  font-size: 1.895em;
  font-weight: 700;
  margin: .75em 0;
  padding: .694em .556em;
  text-decoration: none;

  &:link,
  &:visited {
    color: $white;
  }

  &:active,
  &:focus {
    color: $black;
  }

  &:hover {
    text-decoration: underline;
  }
}

// nav-bar
// scss-lint:disable IdSelector
#global-header-bar {
  display: none;
}
// scss-lint:enable IdSelector

.nav-bar {
  background: $panel-colour;

  ul {
    @extend %contain-floats;

    margin: 0 auto;
    max-width: 960px;
  }

  li {
    float: left;
    list-style-type: none;

    @include media(mobile) {
      width: 100%;
    }
  }

  a {
    display: block;
    padding: 15px;
    text-decoration: none;

    &:link,
    &:visited {
      color: $black;
    }

    &:active,
    &:focus {
      background: $focus-colour;
      color: $black;
    }

    &:hover {
      background: $highlight-colour;
      text-decoration: underline;
    }
  }

  .active {
    background: $govuk-blue;
    font-weight: 700;

    &:link,
    &:visited,
    &:active {
      color: $white;
    }

    &:focus {
      color: $black;
    }

    &:hover {
      background: $govuk-blue;
      text-decoration: underline;
    }
  }
}
