<ul if(data.schedule.length) class="schedule">
  <li for(payment in data.schedule) class="payment">
    <pay-date date=payment.date/>
    <strong class="amount">
      £${payment.amount}
    </strong>
    <span if(payment.type && payment.type !== 'monthly') class="type ${payment.type}">
      <i18n-message key="schedule:type.${payment.type}"/>
    </span>
  </li>
</ul>
<p else-if(data.isEmptyMessageKey)>
  <i18n-message key=data.isEmptyMessageKey/>
</p>
